/*Body Primary Background-color : #image
/*Body Primary color : #0c2033 

/* Form Background color: #eff7ff
/* Form Primary color : #508991 

/* Styling the Body element */
body {
  background-image: url(/img/beach_nature.jpg);
  background-size: cover;
  background-position: center;
  font-family: Verdana;
  text-align: center;
}

h1 {
  color: #0c2033;
}

/* Styling the Form */
form {
  background-color: #eff7ff;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling form-control Class */
.form-control {
  text-align: left;
  margin-bottom: 25px;
  color: #508991;
}

/* Styling form-control Label */
.form-control label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.form-control #check,
.form-control #radio {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}
/* Styling form-control - input,
		select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 5px;
  font-family: inherit;
  padding: 10px;
  display: block;
  width: 95%;
}

.form-control input {
  font-size: 15px;
}
/* Styling form-control - Radio
		button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
}

/* Styling Button */
button {
  background-color: #909641;
  border: 1px solid #eff7ff;
  color: #092302;
  border-radius: 5px;
  font-family: inherit;
  font-size: 21px;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #092302;
  color: #eff7ff;
  cursor: pointer;
}
