<div class="container-fluid">
  <h3>Feedback Data</h3>
  <p>Data captured from survey</p>
  <div class="table-back">
    <table id="foodTable" class="table">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Food_Quality</th>
        <th scope="col">Service_Quality</th>
        <th scope="col">Improvement_note</th>
        <th scope="col">Comments</th>
        <th scope="col">Delete option</th>
      </tr>
    </table>
  </div>
</div>
